@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.hero {
  &__wrapper {
    position: relative;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.8rem;
    font-weight: 200;
    background-color: vars.$minor-color;
    padding: 12px 30px;

    @media (max-width: 1600px) {
      font-size: 1.625rem;
    }

    @media (max-width: 1250px) {
      font-size: 1.2rem;
      position: relative;
      padding: 12px 25px;
    }

    @include mixins.on-mobile {
      padding: 14px 15px;
      font-size: 0.8rem;
      line-height: 120%;
    }

    @media (max-width: 350px) {
      font-size: 0.6rem;
    }
  }

  &__subtitle {
    background-color: vars.$main-color;
    color: vars.$minor-color;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6vh;

    @media (max-width: 1600px) {
      font-size: 0.8rem;
    }

    @media (max-width: 1250px) {
      padding: 6px 25px;
      height: inherit;
      background-color: vars.$main-color;
      font-size: 0.7rem;
    }

    @include mixins.on-mobile {
      justify-content: flex-start;
      padding: 8px 15px;
      font-size: 0.5rem;
      font-weight: 100;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    height: 9vh;
    align-items: center;
    justify-content: center;

    & img {
      transition: transform 0.3s ease;

      @include mixins.on-mobile {
        width: 15px;
      }
    }

    &:hover {
      & img {
        transform: translateY(4px);
      }
    }

    @media (max-width: 1250px) {
      height: 80px;
    }

    @include mixins.on-mobile {
      height: 50px;
    }
  }
}
