@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.accordion {
  &__button {
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 45px;
    background-color: vars.$minor-color;
    position: relative;
    z-index: 1;
    border-bottom: vars.$main-color 1px solid;
    color: vars.$main-color;

    @media (max-width: 1600px) {
      height: 100px;
    }

    @include mixins.on-tablet {
      padding: 10px 25px;
      height: 90px;
    }

    @include mixins.on-mobile {
      padding: 10px 15px;
      height: 65px;
    }
  }

  &__icon {
    transition: transform 0.5s ease;
    &--rotate {
      transform: rotate(180deg);
    }
    @include mixins.on-mobile {
      width: 15px;
    }
  }

  &__title {
    font-size: 0.95rem;
    font-weight: 200;

    @media (max-width: 1600px) {
      font-size: 0.8rem;
    }

    @include mixins.on-tablet {
      font-size: 0.8rem;
    }

    @media (max-width: 864px) {
      font-size: 0.7rem;
    }

    @include mixins.on-mobile {
      font-size: 0.55rem;
    }
  }

  &__text {
    height: 0;
    padding: 0 45px;
    overflow: hidden;
    transition: all 0.5s ease;
    line-height: 120%;
    font-size: 0.9rem;

    & p:not(:first-child) {
      margin-top: 30px;

      @include mixins.on-tablet {
        margin-top: 20px;
      }

      @media (max-width: 864px) {
        margin-top: 15px;
      }

      @include mixins.on-mobile {
        margin-top: 10px;
      }
    }

    @media (max-width: 1600px) {
      font-size: 30px;
    }

    @include mixins.on-tablet {
      padding: 0 25px;
      font-size: 0.8rem;
    }

    @media (max-width: 864px) {
      font-size: 0.7rem;
    }

    @include mixins.on-mobile {
      padding: 0 15px;
      font-size: 0.45rem;
    }

    &--open {
      padding: 28px 45px;
      overflow: visible;
      border-bottom: vars.$main-color 1px solid;

      @include mixins.on-tablet {
        padding: 22px 25px;
      }

      @include mixins.on-mobile {
        padding: 16px 15px;
      }
    }
  }
}
