@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.overview {
  &__video {
    position: relative;
    overflow: hidden;
    padding-bottom: 35%;

    @include mixins.on-tablet {
      padding-bottom: 60%;
    }

    @include mixins.on-mobile {
      padding-bottom: 90%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff1f;
      z-index: 1;
    }

    & video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // &__pause {
  //   display: inline-block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: 2;
  //   background-color: #ffffffdd;
  //   width: 140px;
  //   height: 60px;
  //   padding: 5px;
  // }
}
