@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.team {
  padding: 60px 0;

  @include mixins.on-tablet {
    padding: 40px 0;
  }

  @include mixins.on-mobile {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  &__title {
  }

  &__swiper {
  }

  &__person {
  }

  &__image {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 80%;

    @media (max-width: 1250px) {
      padding-bottom: 90%;
    }

    @include mixins.on-tablet {
      padding-bottom: 110%;
    }

    @media (max-width: 440px) {
      padding-bottom: 130%;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;

    @media (max-width: 1600px) {
      font-size: 0.65rem;
    }

    @include mixins.on-tablet {
      gap: 8px;
      font-size: 0.55rem;
    }

    @include mixins.on-mobile {
      margin-top: 10px;
      font-size: 0.45rem;
      gap: 5px;
    }
  }
}
