@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.about-us {
  margin-top: 40px;

  @include mixins.on-tablet {
    margin-top: 20px;
  }

  @include mixins.on-mobile {
    margin-top: 5px;
  }
}
