@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

.project {
  flex: 0 1 33.333%;
  overflow: hidden;
  position: relative;
  padding-bottom: 40%;

  @include mixins.on-tablet {
    flex: 0 1 50%;
  }

  @include mixins.on-mobile {
    flex: 0 1 100%;
    padding-bottom: 60%;
  }

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.5s ease;

    @media (max-width: 1600px) {
      font-size: 0.8rem;
    }
  }

  & a {
    display: inline-block;

    &::before {
      content: "";
      transition: background-color 0.5s ease;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover::before {
      background-color: rgba(255, 255, 255, 0.6);
    }

    &:hover span {
      visibility: visible;
      opacity: 1;
      transform: translateY(-20px);
    }

    @media (hover: none) {
      &:hover::before {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &:hover span {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
      }
    }
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__description {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: vars.$minor-color;
    font-weight: 200;
    padding: 14px 28px;

    @media (max-width: 1600px) {
      font-size: 0.9rem;
    }

    @media (max-width: 1368px) {
      padding: 12px 25px;
      font-size: 0.8rem;
    }

    @media (max-width: 1150px) {
      padding: 12px 25px;
      font-size: 0.75rem;
    }

    @media (max-width: 864px) {
      padding: 10px 18px;
      font-size: 0.6rem;
    }

    @include mixins.on-mobile {
      right: inherit;
      left: 0;
      font-size: 0.8rem;
    }

    @media (max-width: 415px) {
      padding: 8px 16px;
      font-size: 0.7rem;
    }
  }
}
